* {
    BG:    #181818e6;
    NBG:   #181818;
    BGA:   #404040;
    FG:    #f8f8f8;
    FGA:   #b8b8b8; 
    FGB:   #585858;
    BDR:   #202020;
    SEL:   #d8d8d8;
    UGT:   #ab4642;
    IMG:   #d7ba7d;
    OFF:   #7cafc2;
    ON:    #a1b56c;
}

/* 
 * BG = background - black
 * BGA = lighter than BG
 * FG = foreground - white
 * FGA = darker than FG
 * FGB = grey
 * BDR = same as BGA
 * SEL = lighter than FGB
 * UGT = red
 * IMG = yellow
 * OFF = blue
 * ON = green
 */
