* {
    reg:        "Manrope  11";
    bold:       "Manrope Bold 11";
    ita:        "Manrope Italic 11";
    reg-big:    "Manrope 15"; 
    bold-big:   "Manrope Bold 15";
    ita-big:    "Manrope Italic 15";
    reg-sm:     "Manrope 9";
    bold-sm:    "Manrope Bold 9";
    ita-sm:     "Manrope Italic 9";
    reg-icon:   "Manrope 25";
    bold-icon:   "Manrope Bold 25";
    ita-icon:   "Manrope Italic 25";
}
