@import "../font.rasi"
@import "../colors.rasi"

listview {
    border:                         0px 0px 0px;
    background-color:               transparent;
    dynamic:                        true;
    layout:                         vertical;
}
