@import "../font.rasi"
@import "../colors.rasi"

mainbox {
    background-color:               @BG;
    children:                       [ inputbar, listview ];
    padding:                        5px 0px 10px 0px;
    orientation:                    vertical;
}
