@import "../font.rasi"
@import "../colors.rasi"

prompt {
    background-color:               @ON;
    text-color:                     @NBG;
    border-radius:                  0px;
    padding:                        10px;
}
