@import "../font.rasi"
@import "../colors.rasi"

textbox-prompt-colon {
    expand:                         false;
    content:                        "Texto Personalizable";
    background-color:               @ON;
    text-color:                     @NBG;
    border-radius:                  0px;
    padding:                        10px;
}
