@import "../font.rasi"
@import "../colors.rasi"

element-text, element-icon , mode-switcher {
    background-color: inherit;
    text-color:       inherit;
}

mode-switcher {
    spacing: 0;
  }

button {
    padding: 10px;
    background-color: @BG;
    text-color: @FGA;
    vertical-align: 0.5; 
    horizontal-align: 0.5;
}

button selected {
  background-color: @ON;
  text-color: @BG;
}
